.center{
    height:45px;
    width:65%;
    margin:auto;
    margin-top: 20%;
}

.onhover{
    background-color: white;
}

.onhover:hover{
    background-color: rgb(212, 212, 212);
    transition: background-color 0.5s;
}