

#popup{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 500;
    text-align: center;
    overflow: hidden;   
}


.Frame{
    position:fixed;
    left:20%;
    width:60%;
    height:370px;
    margin:auto;  
    margin-top:200px; 
    max-width: 800px;
    min-width: 500px;
    opacity:0;
}

.Frame:hover{
    opacity: 1;
    transition: opacity 1s;
}

.showPopup{
    display: block;
}

.hiddenPopup{
    display: none;
}