.inlineBlock{
    width:25%;
    min-width: 200px;
    float: right;
}

.inlineBlock p{
    padding:0;
    margin:0;
    margin-left: 10%;
    font-size: 13px;
    font-style: italic;
    color:gray;
}

.inlineBlock button{
    margin-left: 10%;
    font-size: 13px;
    font-style: italic;
}