.oneline p, .oneline ul, .oneline button{
    display:inline-block;
}

.oneline{
    display: flex;
    justify-content: space-between;
    width:70%;
}

.oneline span{
    display: inline-flex;
    align-items: center;
}



